In [51]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('ncrna.csv')

In [53]:
df.groupby('type').count()

                                accession  sequence
type
Gene; lncRNA;                       34097     34097
Gene; miRNA;                       714692    714692
Gene; rRNA;                        893195    893195
Gene; ribozyme;                    372617    372617
Gene; sRNA;                         70626     70626
Gene; snRNA;                        10445     10445
Gene; snRNA; snoRNA;                    5         5
Gene; snRNA; snoRNA; CD-box;       514762    514762
Gene; snRNA; snoRNA; HACA-box;     133089    133089
Gene; snRNA; snoRNA; scaRNA;        12164     12164
Gene; snRNA; splicing;             393849    393849
Gene; tRNA;                       5340232   5340232

In [54]:
df['type'] = df['type'].map(lambda x: str.split(x,';')[1].strip())
df['sequence'] = df['sequence'].map(lambda x: str.replace(x, "\n", ""))

In [56]:
counts = df.groupby('type')['accession'].count()
total = counts.sum()
counts_subset = {t: int(np.round((counts.loc[t]/total) * 1E5)) for t in counts.index}

In [57]:
counts_subset

{'lncRNA': 402,
 'miRNA': 8418,
 'rRNA': 10521,
 'ribozyme': 4389,
 'sRNA': 832,
 'snRNA': 12536,
 'tRNA': 62902}

In [58]:
subset_df = pd.DataFrame(columns=['accession', 'sequence', 'type'])
for type, count in counts_subset.items():
    rows = df.loc[df['type'] == type,:].sample(n=count)
    subset_df = pd.concat([subset_df, rows])

In [59]:
subset_df.groupby('type').count()

          accession  sequence
type
lncRNA          402       402
miRNA          8418      8418
rRNA          10521     10521
ribozyme       4389      4389
sRNA            832       832
snRNA         12536     12536
tRNA          62902     62902

In [60]:
subset_df.to_csv('ncrna_subset.csv', index=False)